html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Poppins;
  background-color: #f3f5f4;
}

footer{
  background-color: #86868657;
}



/*QUEM SOMOS*/
.quemsomos-title {
  font-weight: bold;
  color: #080808;
}


/*NOSSO TIME*/
.social-link {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}


/*FOOTER*/
.copy{
  background-color: #0000007c;  
}
